<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>How can we apply POST and GET request</h1>

    <form action="/total" method="POST">

        <h3><input type="number" name="value1"></h3><br>
        <h3><input type="number" name="value2"></h3><br>
        <h3><input type="number" name="value3"></h3><br>
        <button type="submit">Calculate Total</button>
    
    </form>

</body>
</html>